<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bài_tập_lớn.Properties.Settings.OLMSConnectionString"
            connectionString="Data Source=SERIVN;Initial Catalog=OLMS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Bài_tập_lớn.Properties.Settings.QLTHUVIENConnectionString"
            connectionString="Data Source=FUJITSU;Initial Catalog=QLTHUVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>